* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
}


@font-face {
    font-family: 'fa';
    src: url(/vendor/font-awesome/fonts/fontawesome-webfont.ttf);
}

.editor {
    display: flex;
    justify-content: center;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 80vh; */
    align-items: center;
    margin-inline-end: 10px;
}


.gallery-container img {
 width: 300x;
 height: 300px;
}

.gallery-container img:hover {
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.line-operations {
    width: 500px;
    height: 500px;
}

.clean-list {
    list-style: none;
}


.increase-font::before {
    font-family: fa;
    font-size: 40px;
    content: '\f067';
}

.decrease-font::before {
    font-family: fa;
    font-size: 40px;
    content: '\f068';
}

.remove-line::before {
    font-family: fa;
    font-size: 40px;
    content: '\f1f8'
}