* {
    box-sizing: border-box;
}

body {
    background-color:white;
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.171;
}

nav {    
    box-shadow: 0px 1px 0px 0px #DBDBDB;
    margin-bottom: 40px;

}

ul {
    margin: 0 auto;
}

main {
    justify-content: center;
}
footer {
    display: block;
    text-align: center;
}

@font-face {
    font-family: 'fa';
    src: url(./vendor/font-awesome/fonts/fontawesome-webfont.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

/* helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.editor {
    display: flex;
    justify-content: center;    
    flex-wrap: wrap;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline-end: 10px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
    
}

.nav-bar {
    align-items: center;
    
}

.nav-bar a {
    text-decoration: none;
    color: #989898;
    font-family: Roboto, sans-serif;
}

.current-page a {
    color: #FF9826;
}


.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    grid-auto-rows: minmax(170px, 1fr);
    grid-gap: 15px;
    grid-auto-flow: dense;
    margin:10px;
}


.gallery-container img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 10px;
   }


.output-operations {
       flex-direction: column;
       align-items: stretch;
   }

.output-operations .btn {
    text-align: center;
    display: block;
    margin: 10px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    background-color: #FF9826;
    color: white;
    text-decoration: none;
    padding: 6px 6px;
    border-radius: 0.5em;

}



.editor-operations {
    display: flex;
    flex-direction: column;
    /* width: 500px;
    height: 500px; */
    background-color: #F8F8F8;
    padding: 25px;
}

.clean-list {
    list-style: none;
    display:flex;
    padding: 0;
}

.line-operations .btn {
    font-family: fa;
    font-size: 15px;
    width: 30px;
    height: 30px;
}

.font-operations .btn {
    font-family: fa;
    font-size: 15px;
    width: 30px;
    height: 30px;
}



.increase-font::before {
    content: '\f031';
    font-size: 20px;
}

.decrease-font::before {
    content: '\f031';
}

.remove-line::before {
    content: '\f1f8';
}

.add-line::before {
    content:'\f067';
}

.move-down::before {
    content: '\f063';
}

.move-up::before{
    content: '\f062';
}

.switch-line::before {
    content:'\2191\2193'
}

.nav-back {
    text-decoration: none;
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 0px;
}

.nav-back::before {
    font-family: fa;    
    content: '\f053';
}

.hide {
    display: none;
}

#line-txt {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;

}

.btn-menu.burger::before {
    content: '\2630';
}


.btn-menu.close {
    position: absolute;
    top: 17px;
    right: 20px;
    color:white;
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.btn-menu.close::before{
    content: '\00d7';
}

/* mobile only */

@media (max-width: 840px) {
    .nav-bar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        transform: translateX(100%);
        flex-direction: column;
        justify-content: center;
        background-color: #FF9826;
        width: 100%;
    }

    li.nav-bar {
        margin: 0;
    }

    .nav-bar a {
        color:white;
        display: block;
        padding: 70px;
        font-size: 24px;
    }

    body.menu-open .nav-bar {
        transform: translateX(0);
        box-shadow: -2px -2px 20px rgba(0, 0, 0, .25);
    }
}



@media (min-width: 840px) {
    .btn-menu {
        display: none;
    }

    .nav-bar > *:not(:last-child) {
        margin-inline-end: 50px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(5, 210px);
        grid-auto-rows: minmax(210px, 1fr);
        grid-gap: 25px;
        grid-auto-flow: dense;
        margin:25px;
    }


    .gallery-container img {
        width: 210px;
        height: 210px;
        object-fit: cover;
        border-radius: 10px;
       }
       
       .gallery-container img:hover {
           cursor: pointer;
           box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       }
}