* {
    box-sizing: border-box;
}

body {
    background-color:rgb(42, 165, 165);
}


@font-face {
    font-family: 'fa';
    src: url(/vendor/font-awesome/fonts/fontawesome-webfont.ttf);
}

.editor {
    display: flex;
    justify-content: center;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 80vh; */
    align-items: center;
    margin-inline-end: 10px;
}


.gallery-container img {
 width: 300x;
 height: 300px;
}

.gallery-container img:hover {
    cursor: pointer;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.editor-operations {
    width: 500px;
    height: 500px;
}

.clean-list {
    list-style: none;
    display:flex;
}

.editor .btn {
    font-family: fa;
    font-size: 25px;
    width: 50px;
    height: 50px;
}

.increase-font::before {
    content: '\f031';
    font-size: 40px;
}

.decrease-font::before {
    content: '\f031';
}

.remove-line::before {
    content: '\f1f8';
}

.add-line::before {
    content:'\f067';
}

.move-down::before {
    content: '\f063';
}

.move-up::before{
    content: '\f062';
}

.switch-line::before {
    content:'\2191\2193'
}